.songs, .playlists, .search {
    display: none;
}

* {
	cursor: default;
}

input:focus {
    outline:none;
}
button:focus {
    outline:none;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: "Helvetica Neue";

}

#active{
  color: #810082;
}

#activeText {
  color: #810082;
}

.navbar {
    width: 100%;
    margin:0 auto;
	display:block;

}

.nav-tabs {
	margin-top: 5px;
	height: 80px;
	padding-top: 10px;
	width: 80%;
    margin:0 auto;
    border: none;
}

.header {
    margin:0 auto;
	display:block;
	position: relative;
	height:80px;
	width: 100%;


}

.bodybox{
	margin-top: 0px;
	padding:0; 
	width: 100%;
    margin:0 auto;
	display:block;
	border:1px;
	border-top: none;
	position: relative;

}

.container{
    width: 100%;
    margin:0 auto;
	display:block;
	padding:0; 
}


.AddPlayListSection{
	padding-top: 20px;
	background-color: #E8E0F4;
}

.addPlayListButton {
	background-color: #936AC7;
	margin-top: 25px;
	width: 40%;
	margin:0 auto;
	border: 1px;
	border-radius: 10px;
	position:relative;
	display:block;
	height: 60px;
}

.addPlayListTwoButtons {
	
	margin-top: 25px;
	width: 40%;
	margin:0 auto;
	border: 1px;
	border-radius: 10px;
	position:relative;
	height: 60px;
}

.sortByArtist {
	background-color: #936AC7;
	margin-top: 25px;
	width: 45%;
	margin:0 auto;
	border: 1px;
	border-radius: 10px;
	position:relative;
	display:inline-block;

	height: 60px;
}

.sortByTitle {
	background-color: #936AC7;
	margin-top: 25px;
	width: 45%;
	margin:0 auto;
	border: 1px;
	border-radius: 10px;
	position:relative;
	display:inline-block;
	float:right;
	height: 60px;
}


.Playlist-content {
	font-size: 4px;
	color: white;
}

.Playlist-text {
	margin-left: 10px;
	font-size: 25px;
	font-weight: normal;
}
.Playlist-text1 {
	margin-left: 30px;
	font-size: 35px;
	font-weight: normal;
	color:purple;
}


.icon{
	text-align: center;
}

.glyphicon-plus {
	font-size: 20px;
}

.glyphicon-music, .glyphicon-th-list, .glyphicon-search{
	font-size: 40px;
}


.optionText {
	color: #827777;
	margin-top: 2px;
	margin-bottom: 5px;
}




.musicType:active {
	background-color: #a658d3;

}

.rectangle {
	width:70px;
	height:50px;
	border:1px solid #000;
	padding-bottom:0px;
	background-color: #D8D8D8;
}

.picture {
	padding-bottom:0; 
}

.playlistTxt{
	margin-top: 20px;
	font-size: 20px;
	color: #9a79c6;
}



.songTxt{
	margin-top: 10px;
	font-size: 15px;
	color: #9a79c6;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:nowrap;
	width: 300px;
	margin-left: 0px;
}

.artistTxt{
	margin-top: 10px;
	font-size: 15px;
	color: #212322;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:nowrap;
	width: 300px;
	margin-left: 0px;
}

.glyphicon-chevron-right, .glyphicon-play, .glyphicon-plus-sign{
	margin-top: 10px;
	font-size: 40px;
	color: #847d7d;
	padding-right: 0px;
}

.delete{
	margin-top: 10px;
	font-size: 50px;
	color: #847d7d;
	padding-right: 0px;
}

.row {
	position:relative;
	width: 100%;
	margin:0 auto;
	padding:0; 	
}


.musicType {
	margin-right: 0;
	margin:0 auto;
	width: 90%;
	position:relative;
	text-align: center;
	border-bottom: 1px solid;
	height: 90px;
	padding-top:15px;
}

.song, .libsong, .songInPlaylist, .sortedsongs{
	margin-right: 0;
	margin:0 auto;
	width: 90%;
	position:relative;
	text-align: center;
	border-bottom: 1px solid;
	height: 90px;
	padding-top:15px;
}


#lastMusicType{
	border-bottom:none; 
}

#libraryTab{
	display: none;
}

#searchTab{
	display: none;
}

 div[name="songInPlaylist"] {
	display: none;
}


.searchBar {

	margin-top: 25px;
	width: 90%;
	margin:0 auto;
	border: none;
	position:relative;
	height: 60px;

}

.searchBarContent {
	border-radius: 5px;
	height: 40px;
	border: none;
	background-color: #D8D8D8;
}


.searchedSong {
	margin-right: 0;
	margin:0 auto;
	width: 90%;
	position:relative;
	text-align: center;
	border-bottom: 1px solid;
	height: 90px;
	padding-top:15px;
}

.searchedPlaylist {
	margin-right: 0;
	margin:0 auto;
	width: 90%;
	position:relative;
	text-align: center;
	border-bottom: 1px solid;
	height: 90px;
	padding-top:15px;
}


.modal-dialog {
	margin:auto;
	margin-top: 300px;
	width: 30%;
	position:relative;
}

.modal-body {
	height: 200px;
  	overflow-y: scroll;
  	width: 300px;
  	display: inline-block;


}

.modal-content {
	background-color:#E8E0F4;
}

.modal-row{
	margin-bottom:30px;
	color: #800080;
}

.modal-header{
	color: gray;
}
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}




/*

                <!-- addPlaylist() goes in here -->
<!--               <div class="musicType">
                <span class="picture col-xs-4 col-sm-4"><canvas class="rectangle"></canvas></span>
                <span class="musicTypetext col-xs-4 col-sm-4">Lady Gaga</span>              
                <span class="glyphicon glyphicon-chevron-right col-xs-4 col-sm-4"></span>
              </div>
 -->       */


/*                 <!-- addPlaylist() goes in here -->
<!--               <div class="musicType">
                <span class="picture col-xs-4 col-sm-4"><canvas class="rectangle"></canvas></span>
                <span class="musicTypetext col-xs-4 col-sm-4">Lady Gaga</span>              
                <span class="glyphicon glyphicon-chevron-right col-xs-4 col-sm-4"></span>
              </div>
 --> */